/*==> Fonts start <==*/

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.woff2"),
    url("../fonts/Poppins-SemiBold.woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2"),
    url("../fonts/Poppins-Regular.woff");
  font-weight: normal;
  font-style: normal;
}
/*==> /Fonts end <==*/

/*==>  Main styles  <==*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/*==> /Main styles <==*/

/*==> Life hack section styles start <==*/

.life-hack-section {
  margin: 0 auto;
  position: relative;
  width: 1440px;
  height: 961px;
  background-image: url("../images/bg.jpg");
  overflow: hidden;
}

/* Logo styles */
.life-hack-section_breand {
  padding-top: 38px;
  margin-bottom: 60px;
}
/* /Logo styles */

.life-hack_left-side-wrapper {
  max-width: 684px;
  float: left;
  position: relative;
}

.life-hack-section_info h1 {
  margin-bottom: 30px;
  color: #193c3f;
  font-size: 65px;
  line-height: 132%;
}

.life-hack-section_info h1 span {
  color: #fff;
  background: #3cb27f;
  padding: 0 10px;
  border-radius: 18px;
}

.life-hack-section_info .paragaph-1 {
  margin-bottom: 30px;
  color: #48635b;
  font-size: 24px;
  font-weight: 400;
  line-height: 132%;
}

.life-hack-section_info .paragaph-1 span {
  color: #48635b;
  font-size: 24px;
  line-height: 132%;
}

.life-hack-section_info .paragaph-2 {
  color: #000;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 400;
  line-height: 132%;
}

.life-hack-section_info .paragaph-2 span {
  color: #3cb27f;
  font-size: 32px;
  line-height: 132%;
}

.btn {
  width: 343px;
  height: 60px;
  margin-bottom: 75px;
  color: #fff;
  background: #fb4545;
  font-size: 17px;
  line-height: 132%;
  text-transform: uppercase;
  border: none;
  border-radius: 12px;
  box-shadow: 7px 7px 0px 0px rgba(0, 0, 0, 0.1);
}

.life-hack_left-side-wrapper img {
  position: absolute;
  top: 355px;
  left: 377px;
}

.life-hack-section_statistics {
  width: 510px;
  height: 112px;
  display: flex;
  justify-content: space-between;
}

.statistics-item {
  width: 158px;
  height: 112px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  background: #fff;
  box-shadow: 7px 7px 0px 0px rgba(0, 0, 0, 0.1);
}

.statistics-item h2 {
  color: #193c3f;
  font-size: 30px;
  font-weight: 600;
  line-height: 132%;
}

.statistics-item p {
  color: rgba(25, 60, 63, 0.5);
  font-size: 16px;
  font-weight: 400;
  line-height: 132%;
}

.life-hack-section_images {
  position: relative;
}

.life-hack_right-side {
  float: right;
}

.banner-img-man {
  width: 878px;
  position: absolute;
  top: -165px;
  right: -119px;
}

.banner-img-book {
  position: absolute;
  top: 283px;
  right: 306px;
}

/* ==>Modal styles<== */
.modal-wrapper {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.26);
}


.modal {
  width: 935px;
  height: 458px;
  border-radius: 18px;
  background: #fff;
  display: flex;
  justify-content: space-between;
}

.left-side {
  width: 427px;
  height: 458px;
  display: flex;
  justify-content: center;
  padding: 0 45px;
  align-items: center;
  border-radius: 18px 0px 0px 18px;
  background: rgb(0, 206, 169);
  background: linear-gradient(90deg,rgba(0, 206, 169, 0.18) 0%,rgba(0, 83, 206, 0.24) 100%);
}

.right-side {
  padding: 40px;
}

.right-side h1 {
  font-size: 30px;
  line-height: 132%;
  margin-bottom: 12px;
}

.right-side h1 span {
  color: #3CB27F;
}

.right-side > p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 24px;
}

.right-side > p span{
  color: #3CB27F;
  font-weight: 600;
}

form p {
  margin-bottom: 10px;
  font-weight: 400;
}

input {
  margin-bottom: 24px;
  padding: 14px 18px;
  width: 428px;
  height: 48px;
  border-radius: 12px;
  border: 1px solid #BED4DA;
  background: #F3F7F8;
}

input::placeholder {
  color: #BFD2CC;
  font-size: 16px;
  font-weight: 400;
  line-height: 132%;
}

input[type="number"] {
  padding-left: 78px;
}

.number-input {
  position: relative;
}

.conty-code {
  position: absolute;
  bottom: -13px;
  right: 366px;
}

.modal-btn {
  width: 428px;
  height: 48px;
  margin-bottom: 24px;
}