:root {
  --breand-color: #3cb27f;
}

/*==> Fonts start <==*/

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.woff2"),
    url("../fonts/Poppins-SemiBold.woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2"),
    url("../fonts/Poppins-Regular.woff");
  font-weight: normal;
  font-style: normal;
}
/*==> /Fonts end <==*/

/*==>  Main styles  <==*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  position: relative;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10px;
}

.btn {
  color: #fff;
  font-size: 17px;
  background: #fb4545;
  text-transform: uppercase;
  border: none;
  border-radius: 12px;
  box-shadow: 7px 7px 0px 0px rgba(0, 0, 0, 0.1);
  transition: background 0.5s;
}

.btn:hover {
  background: #a12c2c;
}

.life-hack-section {
  position: relative;
  height: 950px;
  margin: 0 auto;
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.life-hack-section_breand {
  display: inline-block;
  width: 132px;
  padding-top: 38px;
  padding-bottom: 60px;
}

.intro {
  display: flex;
  max-width: 1400px;
  justify-content: space-between;
}

.life-hack_left-side {
  padding-right: 10px;
  width: 50%;
}

.section-title {
  font-size: 4em;
  font-weight: 600;
}

.section-title span {
  color: #fff;
  background: var(--breand-color);
  padding: 0 10px;
  border-radius: 18px;
}

.section-subtitle-1 {
  color: #48635b;
  font-size: 1.5em;
  margin: 30px 0;
}

.section-subtitle-1 span {
  color: #48635b;
  font-weight: 600;
}

.section-subtitle-2 {
  color: #48635b;
  font-size: 1.5em;
  margin: 30px 0;
}

.section-subtitle-2 span {
  color: var(--breand-color);
  font-weight: 600;
}

.main-btn {
  width: 343px;
  height: 60px;
  margin-top: 33px;
  margin-bottom: 75px;
}

.statistics {
  width: 510px;
  height: 112px;
  display: flex;
  justify-content: space-between;
}

.statistics-item {
  width: 158px;
  height: 112px;
  flex-shrink: 0;
  padding: 25px;
  text-align: center;
  border-radius: 24px;
  background: #fff;
  box-shadow: 7px 7px 0px 0px rgba(0, 0, 0, 0.1);
}

.statistics-item h1 {
  color: #193c3f;
  font-size: 1.875em;
  font-weight: 600;
}

.statistics-item p {
  color: rgba(25, 60, 63, 0.5);
  font-size: 1em;
  font-weight: 400;
}

.life-hack_right-side {
  position: relative;
  width: 50%;
}

.banner-img-man {
  width: 900px;
  position: absolute;
  bottom: -84px;
  right: -90px;
}

.banner-img-book {
  position: absolute;
  bottom: -67px;
  right: 450px;
}

@media only screen and (max-width: 1400px) {
  .life-hack-section {
    height: 918px;
  }
  .section-title {
    font-size: 3.5em;
  }
  .section-subtitle-1,
  .section-subtitle-2 {
    font-size: 1.3em;
  }
  .banner-img-man {
    bottom: -116px;
    right: -213px;
  }
  .banner-img-book {
    right: 330px;
  }
}

@media only screen and (max-width: 1200px) {
  .life-hack-section {
    height: 864px;
  }
  .section-title {
    font-size: 3em;
  }
  .section-subtitle-1,
  .section-subtitle-2 {
    font-size: 1.1em;
  }
  .banner-img-man {
    right: -234px;
  }
  .banner-img-book {
    right: 251px;
  }
}

@media only screen and (max-width: 1120px) {
  .life-hack-section {
    height: 864px;
  }

  .section-title {
    font-size: 2.8em;
  }
  .section-subtitle-1,
  .section-subtitle-2 {
    font-size: 1em;
  }
  .banner-img-man {
    width: 845px;
    right: -234px;
  }
  .banner-img-book {
    width: 345px;
    right: 251px;
  }
  .statistics {
    width: 450px;
  }
  .statistics-item {
    width: 130px;
  }
}

@media only screen and (max-width: 1030px) {
  .life-hack-section {
    height: 732px;
  }
  .banner-img-man {
    width: 750px;
  }
  .banner-img-book {
    width: 320px;
    right: 251px;
  }
  .statistics {
    display: none;
  }
}

@media only screen and (max-width: 955px) {
  .life-hack-section {
    height: 1337px;
    background-image: url(../images/bg-rotated.jpg);
  }

  .intro {
    display: block;
  }

  .life-hack_left-side {
    width: 100%;
  }

  .section-title {
    font-size: 4em;
  }
  .section-subtitle-1,
  .section-subtitle-2 {
    font-size: 1.5em;
    padding-right: 20px;
  }
  .btn {
    width: 90%;
  }
  .life-hack_right-side {
    position: static;
  }
  .banner-img-man {
    width: 750px;
    bottom: -150px;
    right: 117px;
  }
  .banner-img-book {
    width: 320px;
    bottom: 13px;
    right: 53px;
  }
  .statistics {
    display: none;
  }
}

@media only screen and (max-width: 683px) {
  .life-hack-section {
    height: 1272px;
    background-image: url(../images/bg-rotated.jpg);
  }

  .intro {
    display: block;
  }

  .life-hack_left-side {
    width: 100%;
  }

  .section-title {
    font-size: 3em;
  }
  .section-subtitle-1,
  .section-subtitle-2 {
    font-size: 1.2em;
    padding-right: 15px;
  }

  .btn {
    width: 90%;
  }
  .life-hack_right-side {
    position: static;
  }
  .banner-img-man {
    width: 641px;
    bottom: -21px;
    right: -2px;
  }
  .banner-img-book {
    width: 271px;
    bottom: 110px;
    right: -13px;
  }
  .statistics {
    display: none;
  }
}

@media only screen and (max-width: 539px) {
  .life-hack-section {
    height: 1192px;
    background-image: url(../images/bg-rotated.jpg);
  }

  .intro {
    display: block;
  }

  .life-hack_left-side {
    width: 100%;
  }

  .section-title {
    font-size: 2.5em;
  }
  .section-subtitle-1,
  .section-subtitle-2 {
    font-size: 1.2em;
    padding-right: 15px;
  }

  .btn {
    width: 90%;
  }
  .life-hack_right-side {
    position: static;
  }
  .banner-img-man {
    width: 547px;
    bottom: -21px;
    right: -2px;
  }
  .banner-img-book {
    width: 229px;
    bottom: 110px;
    right: -13px;
  }
  .statistics {
    display: none;
  }
}

@media only screen and (max-width: 438px) {
  .life-hack-section_breand {
    width: 100px;
    padding: 15px 0;
  }

  .life-hack-section {
    height: 1100px;
    background-image: url(../images/bg-rotated.jpg);
  }

  .intro {
    display: block;
  }

  .life-hack_left-side {
    width: 100%;
  }

  .section-title {
    font-size: 2.3em;
  }
  .section-subtitle-1,
  .section-subtitle-2 {
    font-size: 1em;
    padding-right: 10px;
  }

  .btn {
    width: 90%;
  }
  .life-hack_right-side {
    position: static;
  }
  .banner-img-man {
    width: 547px;
    bottom: -21px;
    right: -2px;
  }
  .banner-img-book {
    width: 229px;
    bottom: 110px;
    right: -13px;
  }
  .statistics {
    display: none;
  }
}

@media only screen and (max-width: 405px) {
  .life-hack-section {
    height: 1000px;
  }
  .section-title {
    font-size: 2em;
  }
  .banner-img-man {
    width: 416px;
    bottom: -21px;
    right: -2px;
  }
  .banner-img-book {
    width: 170px;
    bottom: 81px;
    right: -12px;
}
  }

}